name: Linter
on:
  push:
    branches:
      - "main"
      - "ci/**"
  pull_request:
    branches: [ "main" ]
jobs:

  # Run Ruff linter
  ruff:
    name: Ruff Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
