name: Linter
on:
  push:
    branches:
      - "main"
      - "ci/**"
  pull_request:
    branches: [ "main" ]
jobs:

  # Run Ruff linter
  ruff:
    name: Ruff Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1

  # Run MyPy type checker
  mypy:
    name: MyPy Type Checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy
      - name: Run MyPy
        run: |
          mypy src/ --ignore-missing-imports
