name: Tests

on:
  push:
    branches:
      - "main"
      - "ci/**"
      - "fix/**"
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.13', "3.14"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv for dependency management
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41
      with:
        enable-cache: true

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Run tests with coverage
      run: uv run pytest tests/ --cov=src/ --cov-report=term --cov-report=xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
      with:
        files: ./coverage.xml
        name: codecov-umbrella
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
